/* Template */
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

.navbar .brand {
	color: #ffffff;
}

#logo {
	margin-top: -4px;
	margin-right: 4px;
	height: 20px;
	width: 20px;
}

footer {
	font-size: 85%;
	text-align: center;
}

footer a {
	color: #999999;
}